<html ng-app="app">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<title>AngularSample</title>
		<script src="/js/angular.min.js"></script>
		<script type="text/javascript">
			angular.module("app", [])
				.controller("controller", function($scope, $http) {
					$http.get('test.json')
						.success(function(data, status, headers, config) {
							console.log(data.name);
							$scope.name = data.name
						})
						.error(function(data, status, headers, config) {
							console.log('error');
						});
				});
		</script>
	</head>
	<body ng-controller="controller">
		<li><span ng-bind="name">テスト</span></li>
	</body>
</html>